<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>汤谷学院</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="../../resource/images/home/favicon.ico" rel="icon">
    <link rel="stylesheet" href="../../node_modules/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/agreement.css">


</head>
<body>
<div class="container">
    <header class="head">
        <div class="head-left flex">
            <a href="./home.html">
                <img src="../../resource/images/home/logo.png" alt="">
            </a>
        </div>
        <div class="head-center flex">
            <div class="flex"><a href="">首页</a></div>
            <div class="flex maybe"><a href="./majorHome.html" target="_blank">专业 <i class="fa fa-angle-down"></i>
                <ul class="list-head">
                    <li class="cColor"><a href="">计算机</a></li>
                    <li class="cColor"><a href="">会计</a></li>
                    <li class="cColor"><a href="">金融理财</a></li>
                    <li class="cColor"><a href="">机械设计</a></li>
                    <li class="cColor"><a href="">商务英语</a></li>
                </ul>
            </a></div>
            <div class="flex"><a href="">红榜</a></div>
            <div class="flex"><a href="">直播</a></div>
            <div class="flex"><a href="">资讯</a></div>
        </div>
        <div class="head-right flex">
            <div class="detail-right">
                <a href="" class="free-stay">免费学习</a>
                <a href="" class="login">登录|注册</a>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="content-change">
<div class="statement " onmouseover="changeColor1(0)">服务条款</div>
<div class="statement " onmouseover="changeColor1(1)">法律声明</div>

        </div>
        <div class="text-part">
<div class="text-scroll">
    <div class="art">
        <p>1、在进入凡科平台后或使用凡科平台各项服务前，请您务必仔细阅读并透彻理解本声明。您可以选择不使用凡科平台服务，但如果您使用凡科平台服务的，您的使用行为将被视为对本声明全部内容的认可。“凡科平台”指由广州凡科互联网科技股份有限公司（简称“凡科”）运营的各产品服务系统平台，域名为 faisco.com以及凡科启用的其他域名。</p>
        <p>2、鉴于：<br/>
            凡科提供的服务属于企业自助搭建服务，在凡科平台注册后，即可通过凡科平台搭建网站、创建互动小游戏、微传单、微信公众号，且通过凡科平台生成的网站、互动小游戏、微传单、微信公众号上发布的相关资讯、产品、服务（包括但不限于企业名称、联系人及联络信息，产品/服务的描述和说明，图片、视频，视讯等）的信息均由会员自行提供上传，凡科仅提供信息存储空间服务。但由于凡科无法对用户所上传的内容是否违法、侵权进行有效判断，为了维护互联网秩序、维护广大权利人的合法权益，因此：</p>
        <p>（1）凡科保证会员所上传内容的完整性，不对其进行任何形式的编辑、更改、篡改；<br/>
            （2）会员依法应当保证所上传的内容不违反法律规定、不损害他人的合法权益，否则应承担全部、最终责任；<br/>
            （3）凡科有权配合网络监管部门对会员所上传的内容进行关键字、关键图片等关键信息的筛查，并对违法、侵权网站作出关闭措施，或删除违法、侵权信息，或断开违法、侵权信息链接等。<br/>
            （4）若用户所上传的内容侵权的，权利人可通过凡科平台公布的邮箱、地址等联系方式，向凡科提出书面通知，要求凡科关闭违法、侵权网站，或删除违法、侵权信息，或断开违法、侵权信息链接，同时提交权属证明、详细的侵权情况说明以及身份证明（自然人提供身份证复印件、法人提供营业执照复印件加盖公章）。凡科在收到上述材料后会采取相应措施，防止侵权损害的进一步扩大。权利人（通知人）应当保证用户侵权的真实性，否则应当承担由此造成的全部法律责任。</p>
        <p> 3、除凡科注明之服务条款外，其他一切因使用凡科产品而引致之任何意外、疏忽、合约毁坏、诽谤、版权或知识产权侵权及其所造成的损失（包括因下载而感染电脑病毒），凡科概不负责，亦不承担任何法律责任。</p>
        <p>4、凡科产品中的部分字体、图片等涉及第三人的知识产权且该第三人已许可凡科使用，若您在使用凡科产品时需要用到该部分作品的，请您向知识产权人取得授权，否则您将可能侵害知识产权人的合法权利，由此造成的纠纷，您应当自行与知识产权人解决，与凡科无关。若因您侵害第三人的权利导致凡科向第三人承担责任的，凡科有权向您追偿。</p>
        <p> 5、凡科保留随时修改本网站服务条款及声明之权利，并通过网络于凡科平台公示修改之后内容，不另行个别通知。若您于服务条款、法律声明修改后仍继续使用凡科平台的，即表示您同意修改后之内容。</p>
    </div>
    <div class="art">
        <p>
            1. 接受条款<br/>
        <p>以任何方式使用凡科产品即表示您同意自己已经与凡科订立本条款，且您将受本条款的条件约束。您应在第一次登录后仔细阅读修订后的“条款”，并有权选择停止继续使用“服务”；一旦您继续使用“服务”， 则表示您已接受经修订的“条款”，当您与凡科发生争议时，应以最新的服务条款为准。除另行明确声明外，任何使“服务”范围扩大或功能增强的新内容均受本条款约束。</p>
            2.谁可使用凡科产品？<br/>
        <p>“服务”仅供能够根据相关法律订立具有法律约束力的合约的公司使用。如不符合本项条件，请勿使用“服务”。“服务”不会提供给被暂时或永久中止资格的凡科会员。</p>
            3. 收费<br/>
        <p> 本公司保留在根据本服务条款第1条通知您后，收取“服务”费用的权利。您因进行交易、向本公司获取有偿服务或接触本公司服务器而发生的所有应纳税赋，以及相关硬件、软件、通讯、网络服务及其他方面的费用均由您自行承担。本公司保留在无须发出书面通知，仅在凡科网站公示的情况下，暂时或永久地更改或停止部分或全部“服务”的权利。</p>
            4. 您的资料<br/>
        <p> 您可能会提交资料以作与本服务有关的使用。除了我方授权给您使用的资料，我方不提出拥有对您所发布或者向我方提供（称为“提交”）的与服务有关的资料的所有权。但是，经您发布或以其他方式提交的资料，您授予我们免费许可： 做与服务有关的使用、复制、传播、显示、发表和修改； 在与您的提交有关时发布您的姓名或单位名称； 将这些许可授予其他人。 本节仅适用于法律所允许的内容并仅适用于在不违反法律的限度内使用和发布上述法律所允许的内容。我方不会为您的提交向您支付费用。我方有权拒绝发布，并且有权随时从服务中删除您的提交。您应当对您所做出的每一提交享有以实施本节所规定的授权行为所必要的完整权利。</p>
            5. 隐私<br/>
        <p>  为了协作和提供服务，我们会收集您的某些信息。此外，我方还可以访问或者透露关于您的信息，包括您通讯的内容，以：<br>(a) 遵守法律、响应司法要求或法律程序；<br>(b) 保护凡科及其客户的权利、财产，包括协议的执行和遵守适用于服务的策略；<br>(c) 保护凡科及其雇员、客户和公众的权利、财产或安全。 我方可采取技术或其他措施以保护服务，保护我们的客户，或阻止您违反本合同。这些措施可能包括，例如，通过过滤来阻止垃圾邮件或提高安全级别。这些措施可能阻止或中断您对服务的使用。 为了向您提供服务，我方可收集有关服务状况，您的机器和您对服务的使用的某些信息。我方有权从您的机器自动上传这些信息。这些数据不会构成对您私人身份的确认。</p>
            6. 终止或访问限制<br/>
        <p>（1）在您未向凡科支付服务费用的情况下，凡科可自行全权决定以任何理由 (包括但不限于凡科认为您已违反本条款的字面意义和精神，或您以不符合本条款的字面意义和精神的方式行事，或您在超过30天的时间内未以您的帐号及密码登录凡科产品) 终止您对“服务”的使用，及可自行全权决定以任何理由 (包括但不限于凡科认为您已违反本条款的字面意义和精神，或您以不符合本条款的字面意义和精神的方式行事，或您在超过60天的时间内未以您的帐号及密码登录凡科产品) 终止您的“服务”密码、账户 (或其任何部份) 或并删除和丢弃您在使用“服务”中提交的 “您的资料”。根据本条款的任何规定终止您使用“服务”之措施可在不发出事先通知的情况下实施，并承认和同意，凡科可立即使您的账户无效，或撤销您的账户以及在您的账户内的所有相关资料和档案，和/或禁止您进一步接入该等档案或“服务”。帐号终止后，凡科没有义务为您保留原帐号中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给您或第三方。此外，凡科不会就终止您接入“服务”而对您或任何第三者承担任何责任。第8、9和10各条应在本条款终止后继续有效。<br>
            （2）因域名管理局要求，网站域名应当施行实名认证制度。为此，凡科将会通知您限时对您的网站域名进行实名认证。若因您未进行域名实名认证或逾期进行域名实名认证导致您的网站无法访问的，凡科不承担任何责任，一切责任由您自行承担。<br>
            （3）您同意，任何经由“服务”添加、上传的资源均只允许在凡科产品中使用，禁止以任何形式或理由将资源用作外链。由此产生的风险或法律责任，凡科不承担任何法律责任，一切责任由您自行承担。若违反本条款，凡科有权限制或终止您接入“服务”，并追究法律责任。</p>
            7. 违反本服务条款的法律责任？<br/>
        <p>（1）在不限制其他补救措施的前提下，发生下述任一情况，本公司可立即发出警告，暂时中止、永久中止或终止您的会员资格，不退还已交付款项并删除您的任何现有产品信息，以及您在凡科各产品上展示的任何其他资料：<br>(i) 您违反本条款；<br>(ii) 本公司无法核实或鉴定您向本公司提供的任何资料；<br> (iii) 本公司相信您的行为可能会使您、本公司用户或通过本公司或本公司产品提供服务的第三者服务供应商发生任何法律责任；<br>(iv)发表、传送、传播、储存个人网站类，在线音视频类，刷钻/刷QB/QQ业务/刷流量/taobao刷信誉类，色情/成人内容/低俗内容类，游戏类/代练/涉及交易的虚拟物品类，彩票预测/赌博类内容网站，盗号/外挂/私服/辅助类，代办证/代考/代开发票类，黑客/网站挂马/放置病毒/收费下载/收费传授黑客技术类，虚假信息/诈骗信息类等， 不利国家与社会稳定和谐，违反国家相关法律与政策的内容，将配合有关部门追究责任；<br>（v）利用本公司的邮箱系统发送垃圾邮件，垃圾邮件指未经第三方许可，而强行发送至第三方邮件中的电子邮件，或同时发送给大量用户，影响正常网络通信的电子邮件，或含有恶意、虚假、伪装等信息的电子邮件。<br>
            （2）若您的网站被第三方攻击，给凡科或凡科其他用户造成影响的，凡科有权选择以下任一方式处理：（<br>i）凡科通知您立即采取接入第三方防御服务的措施，若您于接到通知后三日内未处理，凡科有权直接关停您的网站，且无需承担任何责任；<br>（ii）凡科直接关闭您的网站，并向您退回剩余服务期限对应的服务费（购买时采用代金券的，凡科将不予退款）。本条所称的第三方攻击仅指您的网站内容未违反本服务条款的情况下所受的恶意攻击。因您的网站内容违反本服务条款而遭受的攻击，不属于本条所称的网站攻击范畴。</p>
            8. 服务“按现状”和“按可得到”的基础提供<br/>
        <p> 本公司会尽一切努力使您在使用凡科产品的过程中得到乐趣。遗憾的是，本公司不能随时预见到任何技术上的问题或其他困难。该等困难可能会导致数据损失或其他服务中断，或根据市场需求，适当变更服务内容的某种功能。为此，您明确理解和同意，您使用“服务”的风险由您自行承担。“服务”以“按现状”和“按可得到”的基础提供。凡科明确声明不作出任何种类的所有明示或暗示的保证，包括但不限于关于适销性、适用于某一特定用途和无侵权行为等方面的保证。凡科对下述内容不作保证：<br>(i)“服务”会符合您的要求；<br>(ii)“服务”不会中断，且适时、安全和不带任何错误；(iii) 通过使用“服务”而可能获取的结果将是准确或可信赖的；及 (iv) 您通过“服务”而购买或获取的任何产品、服务、资料或其他材料的质量将符合您的预期。通过使用“服务”而下载或以其他形式获取任何材料是由您自行全权决定进行的，且与此有关的风险由您自行承担，对于因您下载任何该等材料而发生的您的电脑系统的任何损毁或任何数据损失，您将自行承担责任。您从凡科或通过或从“服务”获取的任何口头或书面意见或资料，均不产生未在本条款内明确载明的任何保证。
            9. 责任范围<br/>
            您明确理解和同意，凡科不对因下述任一情况而发生的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿 (无论凡科是否已被告知该等损害赔偿的可能性)：(i) 使用或未能使用“服务”；(ii) 因通过或从“服务”购买或获取任何货物、样品、数据、资料或服务，或通过或从“服务”接收任何信息或缔结任何交易所产生的获取替代货物和服务的费用；(iii) 未经批准接入或更改您的传输资料或数据；(iv) 任何第三者对“服务”的声明或关于“服务”的行为；或 (v) 因任何原因而引起的与“服务”有关的任何其他事宜，包括疏忽。
            10. 赔偿<br/>
            您同意，因您违反本条款或经在此提及而纳入本条款的其他文件，或因您违反了法律或侵害了第三方的权利，而使第三方对凡科及其子公司、分公司、董事、职员、代理人提出索赔要求（包括但不限于司法费用和其他专业人士的费用，含律师费等），您必须赔偿给凡科及其分公司、董事、职员、代理人，使其等免遭损失。
            11. 遵守法律<br/>
            您在凡科上不得发布各类违法或违规信息。您应遵守与您使用“服务”，以及与您竞买、购买和销售任何物品以及提供商贸信息有关的所有相关的法律、法规、条例和规章。
            12. 广告和金融服务<br/>
            您与在“服务”上或通过“服务”物色的刊登广告人士通讯或进行业务往来或参与其推广活动，包括就相关货物或服务付款和交付相关货物或服务，以及与该等业务往来相关的任何其他条款、条件、保证或声明，仅限于在您和该刊登广告人士之间发生。您同意，对于因任何该等业务往来或因在“服务”上出现该等刊登广告人士而发生的任何种类的任何损失或损毁，凡科无需负责或承担任何责任。您如打算通过“服务”创设或参与与任何公司、股票行情、投资或证券有关的任何服务，或通过“服务”收取或要求与任何公司、股票行情、投资或证券有关的任何新闻信息、警戒性信息或其他资料，敬请注意，凡科不会就通过“服务”传送的任何该等资料的准确性、有用性或可用性、可获利性负责或承担任何责任，且不会对根据该等资料而作出的任何交易或投资决策负责或承担任何责任。
            13. 您对我们的通知<br/>
            您可以按照为本服务在客户支持或“帮助”部分所指明的方式向我们发出通知。我方不接受以电子邮件所作的通知。
            14. 我方向您发出通知<br/>
            我方向您发出通知，同意使用电子信息。本合同系电子形式。我方承诺向您发送与本服务有关的特定信息，并有权向您发送某些附加信息。我方可能还会向您发送法律要求发送的有关本服务的其他信息。我方可以电子形式向您发送这些信息。您有权取消您的同意，但如果您取消，我方可取消对您的服务。 我方可以下列方式向您提供必需的信息： 通过您在注册本服务时所指明的电子邮件地址向您发送电子邮件； 在信息可供使用时，通过在向您发送的电子邮件通知中指明供访问的某一网站；或 通过访问为此目的而通常事先指定的某一网站。 通过电子邮件向您发出的通知将被视为在该电子邮件中标明的传输日期发送并且收到。 在您能够访问和使用本服务期间，您拥有必要的软件和硬件以接受此类通知。如果您不同意以电子形式接受任何通知，那么您应当停止使用本服务
            15. 与第三方网站的链接<br/>
            提供与第三方网站的链接仅仅为了给您带来方便。如果您使用这些链接，将离开凡科站点。凡科没有审查过所有这些第三方站点，对任何这些站点及其内容或它们的保密政策不进行控制，也不负任何责任。因此，我们对这些网站上的任何信息、软件以及其它产品或材料，或者通过使用它们可能获得的任何结果不予认可，也不作任何表述。如果您决定访问本站点链接的任何第三方站点，其风险完全由您自己承担。
            16. 不可抗力<br/>
            由于自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通电信网络、供电单位采取的限电或断电措施、供电单位的电力设施故障、通讯或其他设施故障或严重伤亡事故、黑客攻击、尚无有效防御措施的计算机病毒的发作及其他各方不能预见并且对其发生和后果不能防止并避免的不可抗力原因，致使本公司延迟或未能履约的，本公司不对您承担任何责任。
            17. 关于网络<br/>
            您明白由于因特网上通路的阻塞或造成访问速度下降，均是正常，不属于我方违约，若遇电信运营商或国家政策等原因造成的网络中断，我方不承担相应责任。
            18. 关于版权<br/>
            以任何方式使用凡科提供的服务，包括但不限于基于凡科搭建的企业网站、企业邮箱等服务，所涉及的版权归凡科或有权的第三方所有。
            您在使用凡科提供的服务时，应当保证相关版权的完整性，特别地，对于凡科的模板图片，您不得恶意篡改、任意拆分、组合，涉及人物图片的，您不得将图片进行分割或与其他图像进行组合。否则，凡科有权终止为您提供服务，并不予退还服务费。若因您的该些行为给凡科造成损失的，您还应当承担赔偿责任。若造成图片肖像权人向凡科主张权利的，凡科有权向您追偿。
            19. 关于退款<br/>
            1、购买以下所列凡科产品的客户，支付完成后7天内（从购买当天算起）终止服务的，可申请无理由全额退款，具体包括：首次购买网站版本、首次购买的互动版本且所有已发布活动的新增浏览人数不超过 100 人且未消耗赠送的去广告券、首次购买的微传单版本且所有已发布微传单的新增流量不超过 100pv 且未消耗赠送的去广告券及模板券、首次购买邮箱版本，400号码开户券和400号码充值券。其他情况不予退款。
            2、凡购买网站专业版、网站商城版，并在30天内购买域名的客户，自绑定该域名之日起30天内没有被百度收录，可申请网站无条件全额退款。
            申请退款的客户需向本公司提供：网站的凡科帐号、管理员帐号和密码；接收退款的银行信息，包括完整开户行信息（如：xx省xx市分行xx支行）、银行账号、账户名（姓名）。退款不收取任何费用，退款完成后将不再享受凡科提供的服务。
            以上退款均以您未违反本条款约定为前提。
            20. 适用法律和管辖<br/>
            本条款适用于中国法律并依照中国法律解释，不会造成任何法律的冲突。任何因有关使用凡科各产品而发生的诉讼均应提交广州仲裁委员会申请仲裁。 如果您还有疑问，您可以直接给我们客服中心留言。
        </p>
    </div>
</div>
        </div>

    </div>
    <footer class="foot">
        <div class="in-foot">
            <div class="logo-foot">
                <img src="../../resource/images/home/b_logo.png" alt="">
                <p class="margin-15">中国首家自学自考慕课平台，让每个有提升愿望的用户都能实现梦想</p>
            </div>
            <div class="andWe">
                <h4 style=" padding-left: 10px;">关于我们</h4>
                <div class="and-go">
                    <a class="and-go-on">关注我们</a>
                    <a class="and-go-on">联系我们</a>
                    <a class="and-go-on">人才招聘</a>
                    <a class="and-go-on">常见问题</a>
                    <a class="and-go-on">意见反馈</a>
                    <a class="and-go-on">法律条款</a>
                </div>
            </div>
            <div class="attentionWe">
                <h4>关注我们</h4>
                <a href="" class="white-color margin30px"><span class="attention-go">
            <i class="fa fa-weixin font-25 up5"></i>
               </span>
                </a>
                <a href="" class="white-color"><span class="attention-go">
            <i class="fa fa-weibo font-25 up5"></i>
               </span>
                </a>


            </div>
            <div class="copyright">
                <span>蜀ICP备16008025 </span>
                <span> | </span>
                <span>©2017 www.tgmooc.com</span>
            </div>
            <div class="footer-foot">
                <div class="foot-btn-left foot-as" onclick="leftScroll()">
                    <i class="fa fa-angle-left"></i>
                </div>
                <div class="foot-btn-right foot-as" onclick="rightScroll()">
                    <i class="fa fa-angle-right"></i>
                </div>
                <div class="foot-content">

                    <ul id="long">
                        <li class="foot-list"><a href="" class="white-foot"> 四川财政会计网</a></li>
                        <li class="foot-list"><a href="" class="white-foot"> 成都教育局</a></li>
                        <li class="foot-list"><a href="" class="white-foot"> 四川省教育考试院</a></li>
                        <li class="foot-list"><a href="" class="white-foot"> 教育部学信网</a></li>
                        <li class="foot-list"><a href="" class="white-foot"> 四川财政会计网</a></li>
                        <li class="foot-list"><a href="" class="white-foot"> 四川省人事考试网</a></li>
                        <li class="foot-list"><a href="" class="white-foot"> 职业咨询查询网</a></li>
                        <li class="foot-list"><a href="" class="white-foot"> 四川财政会计网</a></li>
                        <li class="foot-list"><a href="" class="white-foot"> 四川财政会计网</a></li>
                        <li class="foot-list"><a href="" class="white-foot"> 四川财政会计网</a></li>
                        <li class="foot-list"><a href="" class="white-foot"> 四川财政会计网</a></li>
                    </ul>

                </div>

            </div>
        </div>

    </footer>
</div>
<script src="../script/agreement.js"></script>
</body>
</html>